In [0]:
import numpy as np
import pandas as pd

In [0]:
df=pd.read_csv("Train.csv")

In [4]:
df.head(50)

              date_time is_holiday  ...  weather_description  traffic_volume
0   2012-10-02 09:00:00       None  ...     scattered clouds            5545
1   2012-10-02 10:00:00       None  ...        broken clouds            4516
2   2012-10-02 11:00:00       None  ...      overcast clouds            4767
3   2012-10-02 12:00:00       None  ...      overcast clouds            5026
4   2012-10-02 13:00:00       None  ...        broken clouds            4918
5   2012-10-02 14:00:00       None  ...         sky is clear            5181
6   2012-10-02 15:00:00       None  ...         sky is clear            5584
7   2012-10-02 16:00:00       None  ...         sky is clear            6015
8   2012-10-02 17:00:00       None  ...           few clouds            5791
9   2012-10-02 18:00:00       None  ...           few clouds            4770
10  2012-10-02 19:00:00       None  ...           few clouds            3539
11  2012-10-02 20:00:00       None  ...         sky is clear            2784
12  2012-10-02 21:00:00       None  ...         sky is clear            2361
13  2012-10-02 22:00:00       None  ...         sky is clear            1529
14  2012-10-02 23:00:00       None  ...         sky is clear             963
15  2012-10-03 00:00:00       None  ...         sky is clear             506
16  2012-10-03 01:00:00       None  ...         sky is clear             321
17  2012-10-03 02:00:00       None  ...         sky is clear             273
18  2012-10-03 03:00:00       None  ...         sky is clear             367
19  2012-10-03 04:00:00       None  ...         sky is clear             814
20  2012-10-03 05:00:00       None  ...         sky is clear            2718
21  2012-10-03 06:00:00       None  ...         sky is clear            5673
22  2012-10-03 08:00:00       None  ...         sky is clear            6511
23  2012-10-03 09:00:00       None  ...         sky is clear            5471
24  2012-10-03 12:00:00       None  ...         sky is clear            5097
25  2012-10-03 13:00:00       None  ...         sky is clear            4887
26  2012-10-03 14:00:00       None  ...         sky is clear            5337
27  2012-10-03 15:00:00       None  ...         sky is clear            5692
28  2012-10-03 16:00:00       None  ...         sky is clear            6137
29  2012-10-03 18:00:00       None  ...           few clouds            4623
30  2012-10-03 19:00:00       None  ...           few clouds            3591
31  2012-10-03 20:00:00       None  ...           few clouds            2898
32  2012-10-03 21:00:00       None  ...         sky is clear            2637
33  2012-10-03 22:00:00       None  ...         sky is clear            1777
34  2012-10-03 23:00:00       None  ...         sky is clear            1015
35  2012-10-04 00:00:00       None  ...         sky is clear             598
36  2012-10-04 01:00:00       None  ...         sky is clear             369
37  2012-10-04 02:00:00       None  ...         sky is clear             312
38  2012-10-04 03:00:00       None  ...         sky is clear             367
39  2012-10-04 04:00:00       None  ...         sky is clear             835
40  2012-10-04 05:00:00       None  ...         sky is clear            2726
41  2012-10-04 06:00:00       None  ...         sky is clear            5689
42  2012-10-04 07:00:00       None  ...         sky is clear            6990
43  2012-10-04 08:00:00       None  ...         sky is clear            5985
44  2012-10-04 09:00:00       None  ...         sky is clear            5309
45  2012-10-04 10:00:00       None  ...         sky is clear            4603
46  2012-10-04 11:00:00       None  ...         sky is clear            4884
47  2012-10-04 12:00:00       None  ...         sky is clear            5104
48  2012-10-04 13:00:00       None  ...         sky is clear            5178
49  2012-10-04 14:00:00       None  ...         sky is clear            5501

[50 rows x 15 columns]

In [5]:
df['weather_type'].value_counts()

Clouds          11213
Clear            9233
Mist             4047
Rain             3940
Snow             2070
Drizzle          1204
Haze              902
Fog               567
Thunderstorm      553
Smoke              17
Squall              4
Name: weather_type, dtype: int64

In [6]:
df['weather_description'].value_counts()

sky is clear                           7524
mist                                   4047
overcast clouds                        3972
broken clouds                          3379
light rain                             2442
scattered clouds                       2294
Sky is Clear                           1709
few clouds                             1568
light snow                             1280
moderate rain                          1105
haze                                    902
light intensity drizzle                 703
heavy snow                              587
fog                                     567
drizzle                                 460
proximity thunderstorm                  345
heavy intensity rain                    311
snow                                    190
thunderstorm                             66
proximity shower rain                    54
thunderstorm with heavy rain             42
heavy intensity drizzle                  40
thunderstorm with light rain             35
proximity thunderstorm with rain         25
thunderstorm with rain                   23
very heavy rain                          18
smoke                                    17
proximity thunderstorm with drizzle      11
light intensity shower rain               8
light rain and snow                       6
thunderstorm with light drizzle           4
SQUALLS                                   4
light shower snow                         4
freezing rain                             2
thunderstorm with drizzle                 2
sleet                                     2
shower drizzle                            1
shower snow                               1
Name: weather_description, dtype: int64